<!DOCTYPE html>
<html>
  <head>
    <title>Code Knightly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="nav-header">
      <div class="container">
        <nav class="nav">
          <ul>
            <li><a href='#'>Home</a></li>
            <li><a href='#'>Portfolio</a></li>
            <li><a href='#'>Blog</a></li>
            <li><a href='#'>Resume</a></li>
            <li><a href='#'>Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
